.frameOne {
    /*height: inherit;*/
    padding: 8% 5% 5% 3%;
    /*top: 55px;*/

    /* Set the height to match that of the viewport. */
    height: 90vh;

    /* Set the width to match that of the viewport. */
    width: 100vw;

}

.congrats {
        height:"250px";
        width:"100%";
        padding:"10px 22px 20px";
}

@media (min-width: 900px) {
    .congrats {
      width: 40%;
      height:280px;
      padding:0px 0px 0px 0px;
      margin-left: 30%;
      margin-bottom: 0%;
    }
    .frameOne {
    padding: 6% 0% 0% 0%;
    height: 100%
    }
}
