.frame{
    width: 310px;
    height: 159px;
    background-color:#FAFAFA;
    border-radius: 5px;
    font-family: 'Playfair Display', serif;
    margin-left: 4.8%
}

.titulos{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    line-height: 22px;
    margin-top: 28px;
    width: 269px;
    height: 79.5px;
    padding: 12px;
    color: #535151;
}