a.nav-link {
    color: rgb(255, 255, 255);
    transition: 0.35s;
}

.logo {
    width: 81px;
    margin-left: 10%
}

.navbar {
    box-shadow: none; 
    font-weight: 300;
}

.navbar-brand {
    margin-right: -1rem;
}

@media (min-width: 900px) {
    .navbar {
      background-color: #355E7E;
      margin-left: -10%;
      margin-right: -7.86%;
    }
    .logo {
        margin-left: 25%;
    }
}


  img.icon {
      margin-left: 1.5rem;
  }