html, body {
    background-image: url(../assets/Group.jpg);
    background-size: 100%;
  }

  @media (min-width: 900px) {
    html, body {
      background-image: none;
      background-color: rgb(179, 171, 171);
    }
  }

