html, body {
    background-color: #E5E5E5;
  };


  @media (min-width: 800px) {
    html, body {
      background-image: none;
      background-size: 100vh;
      background-color: #355E7E
    }
  };

