html, body {
    background-color: #FAFAFA;
  };

  .homepagecontainer {
    background-image: url('../assets/Group.jpg');
    background-size: 100%;
  }

  @media (min-width: 900px) {
    .homepagecontainer {
    background-image: none;
    }
    #root, html, body {
      background-color: rgb(247, 243, 243)
    }
}