.input{
height: 41px;
width: 270px;
border-radius: 5px;
border:0.5px solid #355E7E;
box-sizing: border-box;
margin-left: 53px;
}

p{
    font-family: Montserrat;
    font-size: 16px;
    line-height: 20px;
    color:#535151;
    margin-bottom: 1px;
    margin-left: 48px;
    width: 270px;
    height: 22px;
    padding: 10px;

}