.dot {
    height: 75px;
    width: 75px;
    background-color:#F1717F;
    border-radius: 50%;
    display: inline-block;
  }
  .card-two {
    position: none;
    flex-direction: none;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    margin-bottom: 25px;
    margin-left:-16%;
    margin-right: -15.5%
}
.card-title{
    font-size: 22px;
    margin-bottom: 0;
    width: 189px;
    height: auto;
}

.card-text-two {
    margin-left: 16px;
}

.card-text, .card-text-two .card-card{
    font-size: 16px;
    line-height: 20px;
}
.dot, .card-text,.card-title{
    font-family: "Montserrat";
}
.card-text, .card-date{
    color:#535151;
}
.card-card, .card-title{
    color: #355E7E;
}
.card-date, .card-title{
    margin: 0px 0px 0px 16px;
}
.porcent{
    font-size: 24px;
    margin: 20px 0px 8px 16px;
}
.match{
    font-size: 14px;
    margin: 0px 0px 0px 16px;
}
.porcent,.match{
    color: white;
}

.state{
    font-size: 14px;
    color: white;
    margin-top: 30px;
    margin-left: 8px;
}
.back, .back-two{
    color: #F1717F;
    margin-top: 10px;
    font-size: 14px;
    line-height: 17px;
}

.back-two {
    text-align: right;
}
