.text-center-title{
    font-family: Montserrat;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    padding: 4% 5% 15% 3%;
}

.hr {
    margin-top: 40rem;
}

.my-page-text {
    /*height: inherit;*/
    padding: 8% 5% 5% 3%;
    /*top: 55px;*/

    /*To support older browsers*/
    height: 100%;
    width: 100%;

    /* Set the height to match that of the viewport. */
    height: 100vh;

    /* Set the width to match that of the viewport. */
    width: 100vw;
    background-size: 100%; 
}

.text-center {
    font-family: Playfair Display;
    font-size: 26px;
    line-height: 35px;
    /* identical to box height */
    align-items: center;
    text-align: center;
    padding: 4% 5% 15% 3%;
}